<div class="container text-center">

        <h2 class="font-weigth-bold py-5">crea tu pelicula</h2>

            <div class="bg-white p-3 rounded shadow-sm">
            <%= render 'form' %>
            <%= link_to 'back', root_path, class: "btn btn-info" %>
            </div>



</div>
